#Application Config
APP_ENV = 

#EvolutionAPI config
EVOLUTION_API_URL = 
EVOLUTION_INSTANCE_NAME = 
EVOLUTION_API_KEY = 
ALLOWED_GROUP_JID =
DEFAULT_DESTINATION = 

#Shopee Config
SHOPEE_API_URL = 
SHOPEE_APP_ID = 
SHOPEE_SECRET_KEY =

#Redis Config
REDIS_HOST = 
REDIS_PORT = 